html {
  background: #333;
}
body {
  width: 260px;
  background: #fff;
  padding: 8px;
  font-family: 'Arial', sans-serif;
}
label {
  user-select: none;
  cursor: pointer;
}
a.link {
  font-size: 1.2em;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
a:hover, a.link:hover>.link_text, #site_link_text:hover {
  opacity: 0.8;
  transform: scale(1.01);
}
.link_text {
  border: none;
  padding: 12px 5px;
}
.default_element_text {
  border: none;
  padding: 6px 4px;
}
.google_search {
  color: #333;
  margin: 3px auto;
  background: antiquewhite;
}
#google_link_yugioh_text {
  padding: 5px;
}
#to_about_text {
  text-align: right;
  font-size: 0.8em;
}
.to_db {
  background: #555;
  color: #fff;
}
.to_wiki {
  background: #DDEEFF;
  color: #000;
}
.no_mgn {
  margin: 0;
}
.disabled {
  display: none;
}

/* For Firefox */
@-moz-document url-prefix() {
  a {
    font-size: 1em;
  }
  #card_name,
  #add_word_lbl {
    font-size: 0.8em;
  }
}
